@charset "UTF-8";

body {
  margin: auto;
  width:1440px;
}

.writeSize {
	margin-top: 20px;
	padding: 5px 500px 5px 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	outline:none;
}

#memo {
	width: 665px;
	height: 200px;
	padding-top: 20px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	resize: none;
	outline:none;
}

.category {
	padding-top: 20px;
	font-weight: bold;
}

.btns {
	border-style: none;
	padding: 7px 20px;
	margin-top: 20px;
	margin-right: 10px;
	font-size: 17px;
	background-color: #f0f6f9;
}




header {
	padding-bottom: 50px;
}
